<html lang="en" ng-adm="app">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->

<link rel="icon" href="img/KH_Symbol.png">
<title>Alerts</title>

<style>
.wc-form-control-text{
  display: block;
    width: 25%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9e5ee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    max-width:25%;
}

.tf{
font-size: 12px;
align : left;
text-align: left;
}

</style>

</head>

<body class="">

	<div class="">
		<div ng-controller="AlertsController as alertsController">


				<div class="col-md-12">
					<div class="ad-card">
						<div class="cd-wrap-imp">
						<h3> Device Support</h3>
							<div class="row">											
								<div class="spacer5"></div>
							</div>
							<h4>Device Alerts</h4>
							
								
								<div class="save-content">
									
									<div class="container-box" style="padding-left: 0px">



											<div class="row">
											<div class="form-group">
											<div class="col-xs-8"> </div>
												<div class="col-xs-4">
													
												
										<select   ng-required="true" ng-change="alertsController.load()" 
															 data-ng-options="x for x in rules" data-ng-model="selctedrule">
															
														</select>
												</div>
												</div>
											</div>		
										
										<div class="row">											
											<div class="spacer5"></div>
											<p class="bottom-line"></p>
											</div>
											
											
											<div class="row">
											<div class="form-group">
												<div class="col-xs-1">
													<label class="form-control-label tf">Status</label>
												
												</div>
												<div class="col-xs-2">
													<label class="form-control-label tf">DSN</label>
												
												</div>
												<div class="col-xs-2">
													<label class="form-control-label tf">Model</label>
												
												</div>
												<div class="col-xs-2">
													<label class="form-control-label tf">Customer Id</label>
												
												</div>
												<div class="col-xs-2">
													<label class="form-control-label tf">Alert</label>
												
												</div>
												<div class="col-xs-2">
													<label class="form-control-label tf">Alert Date</label>
												
												</div>
												
																					
											</div>
											</div>
																				
													
													
													<div ng-repeat="x in alertsController.alerts">
													<div class="row">
															<div class="col-sm-12">
																<div class="form-group">
																<div class="col-xs-1"  ng-if="x.status == 'R'">
																	<img ng-src="IMG/ico/error.png" >
																	
																</div>
																<div class="col-xs-1"  ng-if="x.status == 'Y'">
																	<img ng-src="IMG/ico/warn.png" >
																	
																</div>
																<div class="col-xs-1"  ng-if="x.status == 'G'">
																	<img ng-src="IMG/ico/ok.png" >
																	
																</div>
																<div class="col-xs-2 tf"  >
																	<span >{{x.deviceId}}</span>
																	
																</div>
																
																<div class="col-xs-2 tf" >
																	<span >{{x.model}}</span>
																	
																</div>
																<div class="col-xs-2 tf"  >
																	<span>{{x.customer.id}}</span>
																	
																</div>
																
																<div class="col-xs-2 tf"  ng-if="x.status == 'R' ">
																	<span style="color:red">{{x.ruleName}}</span>
																	
																</div>
																<div class="col-xs-2 tf"  ng-if="x.status == 'G' ">
																	<span style="color:blue">{{x.ruleName}}</span>
																	
																</div>
																<div class="col-xs-2 tf"  ng-if="x.status == 'Y' ">
																	<span style="color:#CCCC00">{{x.ruleName}}</span>
																	
																</div>
														
																<div class="col-xs-2 tf">
																<span ng-if="x.alertDatef != null">
																	{{x.alertDatef|date:'yyyy/MM/dd - HH.mm.ss'}} 
																</span>
																</div>
																<button type="button"
																	class="btn btn-follow pull-right mgleft10 mgtop2"																	
																	ng-click="alertsController.viewAlert($index)">View</button>
															
																</div>
														</div>
												</div>
												</div>
													
													

										
									</div>
								</div>
							
						</div>
					</div>
				</div>
				
</div>


			</div>
	
	


	
	<script src="js/bootbox.js"></script>
	

</body>
</html>