<html lang="en" ng-adm="app">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->
<title>Alerts</title>
<style>
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #e7e7e7;
	height: 100%;
}

.btnLogin {
	background: none;
	border: solid 1px #20cad5;
	color: #20cad5;
	background-color: #fff;
}

.btnLogin:hover {
	background: none;
	border: solid 1px #ed4169;
	color: #ed4169;
	background-color: #fff;
}


.publicNav ul li {
	padding: 0px 10px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size:80%;
}


.navbar-nav {
	background-color: #fff;
}
</style>

<style>
.wc-form-control-text {
	display: block;
	width: 25%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9e5ee;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	max-width: 25%;
}

.tf {
	font-size: 12px;
	align: left;
	text-align: left;
}
</style>


  <script type="text/javascript" src="src/scripts/js/bootstrap.js"></script>

<style>
ul {
  list-style-type: none;
}
</style>

</head>

<body class="">


	<div class="main-header " ng-controller="ImplicitLoginController as implicitLoginController">

		<div class="col-md-12">
			<div class="ad-card">
				<div class="container-box" style="padding-left: 0px">
				<div class="row">
					  <div class="col-xs-2" >
							<ul id="menu" >
								<li><h4 style="background-color: #ebf1f5"><B>Products</B></h4></li>
								<li><h4>Customers</h4></li>
								<li><h4>Billing</h4>
								<li><h4>Knowledge Base</h4>
							</ul>
							
							<div class="row">											
					<div class="spacer50"></div>				
					</div>
						<div class="row">											
					<div class="spacer150"></div>				
					</div>
						<div class="row">											
					<div class="spacer50"></div>				
					</div>
					<div class="row">											
					<div class="spacer50"></div>				
					</div>
					<div class="row">											
					<div class="spacer50"></div>				
					</div>
					<div class="row">											
					<div class="spacer50"></div>				
					</div>
						</div>
					 <div class="col-xs-10" >	
					   <div class="row">
						
						<div class="col-xs-5" >
		
							<div class="ad-card" >
								<div class="row">
									<div class="col-xs-4">
										<label class="form-control-label">Device</label>
									</div>
									<div class="col-xs-5">
										<span>{{viobject.deviceId}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<label class="form-control-label tf">Model</label>
									</div>
									<div class="col-xs-5 tf">
										<span>{{viobject.model}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-4">
										<label class="form-control-label tf">Status</label>
									</div>

									<div class="col-xs-4 tf"
										ng-if="viobject.status == 'R'">
										<span style="color: red">{{viobject.ruleName}}</span>
									</div>
									<div class="col-xs-5 tf"
										ng-if="viobject.status == 'G'">
										<span style="color: blue">{{viobject.ruleName}}</span>
									</div>
									<div class="col-xs-5 tf"
										ng-if="viobject.status == 'Y'">
										<span style="color: #CCCC00">{{viobject.ruleName}}</span>
									</div>
								</div>


								<div class="row">
									<p class="bottom-line"></p>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label class="form-control-label">Last Recorded Data
											Points</label>
									</div>

								</div>
								<div class="row">
									<div class="col-xs-4">
										<label class="form-control-label tf">Alert Timestamp</label>
									</div>
									<div class="col-xs-5 tf">
										{{viobject.alertDatef|date:'yyyy/MM/dd - HH.mm.ss'}}</div>
								</div>

								<div ng-repeat="(key, value) in viobject.alertData">
									<div class="row"
										ng-if="key != viobject.alertData['ruleattrib']  && key != 'ruleattrib' ">
										<div class="col-xs-4">
											<label class="form-control-label tf">{{key}}</label>
										</div>
										<div class="col-xs-5">{{value}}</div>

									</div>
									<div class="row"
										ng-if="key == viobject.alertData['ruleattrib']  ">
										<div class="col-xs-4">
											<label class="form-control-label tf">{{key}}</label>
										</div>
										<div class="col-xs-5"
											ng-if="viobject.status == 'R'">
											<span style="color: red">{{value}}</span>

										</div>
										<div class="col-xs-5"
											ng-if="viobject.status == 'G'">
											<span style="color: blue">{{value}}</span>

										</div>
										<div class="col-xs-5"
											ng-if="viobject.status == 'Y'">
											<span style="color: #CCCC00">{{value}}</span>

										</div>


									</div>
								</div>

								<div class="row">
									<div class="spacer5"></div>
									<p class="bottom-line"></p>
								</div>
								
								<div class="row">
									<div class="col-xs-4">
									<img ng-src="IMG/fuel.png" />
									</div>
									<div class="col-xs-1"></div>
									<div class="col-xs-4"><img ng-src="IMG/diagno.png" ng-click="implicitLoginController.openSignupModal()" />
					     			</div>
								</div>

							</div>
						</div>
						<div class="col-xs-5" >
							<div class="ad-card">


								<div class="row">
									<div class="col-xs-6">
										<label class="form-control-label">Customer Details</label>
									</div>

								</div>

								<div class="row">
									<div class="col-xs-2 tf">
										<label class="form-control-label">Name</label>
									</div>
									<div class="col-xs-4 tf">
										<span>{{viobject.customer.name}}</span>

									</div>
									<div class="col-xs-3 tf">
										<label class="form-control-label">Customer ID</label>
									</div>
									<div class="col-xs-3 tf">
										<span>{{viobject.customer.id}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-2 tf">
										<label class="form-control-label">Email</label>
									</div>
									<div class="col-xs-4 tf">
										<span>{{viobject.customer.email}}</span>

									</div>
									<div class="col-xs-3 tf">
										<label class="form-control-label">Phone</label>
									</div>
									<div class="col-xs-3 tf">
										<span>{{viobject.customer.phone}}</span>

									</div>
								</div>

								<div class="row">
									<div class="col-xs-3 tf">
										<label class="form-control-label">Address</label>
									</div>
									<div class="col-xs-8 tf">
										<span>{{viobject.customer.address}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 tf">
										<label class="form-control-label">ISP Status</label>
									</div>
									<div class="col-xs-6 tf">
										<span>{{viobject.customer.ispStatus}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 tf">
										<label class="form-control-label">ISP</label>
									</div>
									<div class="col-xs-6 tf">
										<span>{{viobject.customer.ispName}}</span>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-3 tf">
										<label class="form-control-label">Service Type</label>
									</div>
									<div class="col-xs-6 tf">
										<span>{{viobject.customer.serviceType}}</span>

									</div>
								</div>

								<div>
									<ng-map id="map2"
										center="{{viobject.customer.latitude}}, {{viobject.customer.longitude}}"
										zoom="8"> <marker
										position="[{{viobject.customer.latitude}}, {{viobject.customer.longitude}}]"
										draggable=true> </marker></ng-map>
								</div>



								<div class="row">
									<div class="spacer5"></div>
									<p class="bottom-line"></p>
								</div>

								<div class="row">
									<div class="col-xs-6">
										<label class="form-control-label">Past Support Tickets</label>
									</div>

								</div>
								<div class="row">
									<div class="col-xs-4">Issue</div>
									<div class="col-xs-3">Date</div>
									<div class="col-xs-3">Status</div>

								</div>
								<div ng-repeat="x in viobject.pastTickets">
									<div class="row">
										<div class="col-xs-4 tf">{{x.issue}}</div>
										<div class="col-xs-3 tf">{{x.date|date:'yyyy/MM/dd - HH.mm.ss'}}</div>
										<div class="col-xs-3 tf">{{x.status}}</div>

									</div>
								</div>

								<div class="row">
									<div class="spacer5"></div>
									<p class="bottom-line"></p>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label class="form-control-label">Recent Connection
											Events</label>
									</div>

								</div>
								<div ng-repeat="x in viobject.recevtEvents">
									<div class="row">
										<div class="col-xs-6 tf">{{x.date|date:'yyyy/MM/dd - HH.mm.ss'}}</div>
										<div class="col-xs-4 tf">{{x.location}}</div>

									</div>
								</div>


							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
</div>
</div>
	
	<div id="perfdiagnomodal" class="modal fade" role="dialog"
		style="height: 100%; background: no-repeat center;"
		ng-cloak>
		<div class="modal-dialog " style="">
			<div>
				<div class="modal-body " style="height: 600px; overflow-y: auto;">
					<button type="button" class="close" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div ng-include="'perfDiagnosticModal.html'"></div>


				</div>
			</div>
		</div>
	</div>
</div>

	<script src="js/bootbox.js"></script>



  <script type="text/javascript" src="src/scripts/js/bootstrap.js"></script>

</body>
</html>